RShare/data/trips/aggregate/monthly/*
RShare/data/trips/preprocessed/*.csv
RShare/data/taxi/preprocessed/*.csv
RShare/data/trips/aggregate/*.csv
RShare/data/taxi/aggregate/*.csv
RShare/data/trips/extended/*.csv
RShare/data/taxi/extended/*.csv
RShare/data/trips/monthly/*.csv
RShare/data/trips/final/*.csv
RShare/data/taxi/final/*.csv
RShare/data/trips/split/*.csv
RShare/data/taxi/split/*.csv
RShare/data/analysis/monthly/*
RShare/data/analysis/charts/*
RShare/data/analysis/*.json
RShare/data/analysis/*.csv
Correlations/data/*.csv
Heatmaps/data/*.geojson
SSLChicago/data/*.json
SSLChicago/data/*.json
RSTraffic/data/*.json
RSTraffic/data/*.csv
Heatmaps/data/*.json
Heatmaps/data/*.csv
RSExtra/data/*.json
RSExtra/data/*.csv
Monthly/data/*.json
Monthly/data/*.csv
RSCTA/data/*.json
RSCTA/data/*.csv
LEHD/data/*.json
LEHD/data/*.csv
Data/*.json
Data/*.csv

!RShare/data/trips/aggregate/monthly/.gitkeep
!RShare/data/analysis/monthly/.gitkeep
!RShare/data/analysis/charts/.gitkeep

**/__pycache__
